<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" href="./style.css" />

        <title>MSPARP</title>
    </head>
    <body class="chat">
        <div id="chat_wrapper" class="log_wrapper">
            <div id="chat_content">
                <nav id="global_navigation" class="in_chat_nav in_log_nav">
                    <ul></ul>
                </nav>

                <div class="log_top_nav">
                    <p class="pager"></p>
                </div>

                <section id="archive_conversation">
                    <div id="conversation_wrap"></div>
                </section>

                <div class="log_bottom_nav">
                    <p class="pager"></p>
                </div>
            </div>
        </div>

        <script src="./script.js"></script>
    </body>
</html>
